.LogIn {
    background: #12494f;
    width: 40%;
    margin-top: 10%;
    margin-bottom: 10%;
  }
  
  .LogIn input {
    display: flex;
    width: 80%;
    padding: 3%;
    margin-left: 5%;
    margin-top: 15%;
    margin-bottom: 10%;
    justify-content: center;
    border-radius: 5%;
  }
  
  .LogIn h1 {
    display: flex;
    justify-content: center;
    margin-top: 6%;
    color: white;
  }
  
  .btn {
    // display: flex;
    margin-bottom: 6%;
    text-align: center;
  }